Repository johnwesleyquintero/sellsmart-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx next lint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx prettier --write", "npx next lint --fix"],
  "*.{json,css,scss,md}": ["npx prettier --write"]
}

refactor(page): dynamically import sections to improve performance
  src/app/page.tsx
Due: npx prettier --write, npx next lint --fix

refactor(acos-calculator): clean up code formatting and comments
  src/components/amazon-seller-tools/acos-calculator.tsx
Due: npx prettier --write, npx next lint --fix

build: downgrade react-dom to v18.3.1 for compatibility
  package.json
Due: npx prettier --write

build: downgrade react version to 18.3.1 for compatibility
  package-lock.json
  package.json
Due: npx prettier --write

ci: remove build step from vercel_deploy.bat
  vercel_deploy.bat
Due: none

refactor(vercel_deploy): simplify deployment script by removing redundant comments and echoes
  vercel_deploy.bat
Due: none

refactor: improve code readability and formatting
  package-lock.json
  src/app/blog/[slug]/page.tsx
  src/app/page.tsx
  src/components/amazon-seller-tools/acos-calculator.tsx
  src/components/ui/error-boundary.tsx
Due: npx prettier --write, npx next lint --fix

chore: update dependencies, tsconfig, and auth configurations
  package.json
  src/app/api/auth/[...nextauth]/route.ts
  src/components/blog/mdx-components.tsx
  tsconfig.json
  types/next-auth.d.ts
Due: npx prettier --write, npx next lint --fix

feat(auth): add accessToken handling to session and jwt
  package-lock.json
  src/app/api/auth/[...nextauth]/options.ts
  src/app/api/auth/[...nextauth]/route.ts
  types/next-auth.d.ts
Due: npx prettier --write, npx next lint --fix

feat(chat): add chat interface and API integration
  .env.example
  package-lock.json
  package.json
  src/app/api/chat/route.ts
  src/app/api/content/route.ts
  src/app/chat/page.tsx
  src/app/page.tsx
  src/components/ui/chat-interface.tsx
  src/lib/linkedin.ts
  tsconfig.json
Due: npx prettier --write, npx next lint --fix

feat(chat): enhance chat interface with dynamic loading, history, and context-aware responses
  src/app/api/chat/route.ts
  src/app/chat/page.tsx
  src/components/ui/chat-interface.tsx
Due: npx prettier --write, npx next lint --fix

refactor(chat): improve code readability and add retry functionality
  src/app/api/chat/route.ts
  src/app/chat/page.tsx
  src/components/ui/chat-interface.tsx
Due: npx prettier --write, npx next lint --fix

feat(chat): enhance chat interface with status tracking and context awareness
  src/app/api/chat/route.ts
  src/components/ui/chat-interface.tsx
  src/data/chat-context.json
Due: npx prettier --write, npx next lint --fix

docs: correct npm command in CONTRIBUTING.md
  docs/CONTRIBUTING.md
Due: npx prettier --write

feat(auth): add GitHub provider to NextAuth configuration
  src/app/api/auth/[...nextauth]/route.ts
  src/components/amazon-seller-tools/unified-dashboard.tsx
  src/components/featured-tools-section.tsx
Due: npx prettier --write, npx next lint --fix

fix(auth): provide fallback value for LinkedIn client ID
  src/app/api/auth/[...nextauth]/options.ts
  src/app/api/auth/[...nextauth]/route.ts
Due: npx prettier --write, npx next lint --fix

fix(auth): handle LinkedIn sign-in errors gracefully
  src/app/auth/signin/page.tsx
Due: npx prettier --write, npx next lint --fix

feat(dashboard): add session-based authentication and loading state
  src/app/dashboard/layout.tsx
Due: npx prettier --write, npx next lint --fix

feat(dashboard): enhance unified dashboard with new metrics and layout
  .env.example
  README.md
  TODO.md
  src/app/api/chat/route.ts
  src/app/dashboard/layout.tsx
  src/app/page.tsx
  src/components/amazon-seller-tools/amazon-seller-tools.md
  src/components/amazon-seller-tools/unified-dashboard.tsx
  src/components/featured-tools-section.tsx
  src/components/ui/dashboard-breadcrumb.tsx
  src/lib/ai-config.ts
Due: npx prettier --write, npx next lint --fix

refactor(ppc-campaign-auditor): enhance CSV processing and UI consistency
  src/components/amazon-seller-tools/description-editor.tsx
  src/components/amazon-seller-tools/fba-calculator.tsx
  src/components/amazon-seller-tools/keyword-analyzer.tsx
  src/components/amazon-seller-tools/keyword-deduplicator.tsx
  src/components/amazon-seller-tools/keyword-trend-analyzer.tsx
  src/components/amazon-seller-tools/listing-quality-checker.tsx
  src/components/amazon-seller-tools/ppc-campaign-auditor.tsx
Due: npx prettier --write, npx next lint --fix

refactor(fba-calculator): improve type definitions and calculation logic
  src/components/amazon-seller-tools/fba-calculator.tsx
Due: npx prettier --write, npx next lint --fix

refactor(ppc-campaign-auditor): modularize campaign performance analysis
  src/components/amazon-seller-tools/fba-calculator.tsx
  src/components/amazon-seller-tools/ppc-campaign-auditor.tsx
  src/components/ui/input.tsx
Due: npx prettier --write, npx next lint --fix

refactor(amazon-seller-tools): extract UnifiedDashboardHeader and ToolForm components
  src/components/amazon-seller-tools/UnifiedDashboardHeader.tsx
  src/components/amazon-seller-tools/description-editor.tsx
  src/components/amazon-seller-tools/fba-calculator.tsx
  src/components/amazon-seller-tools/ppc-campaign-auditor.tsx
  src/components/amazon-seller-tools/unified-dashboard.tsx
  src/components/ui/Spinner.tsx
Due: npx prettier --write, npx next lint --fix

style: format code for improved readability and consistency
  README.md
  src/app/auth/signin/page.tsx
  src/components/amazon-seller-tools/UnifiedDashboardHeader.tsx
  src/components/amazon-seller-tools/description-editor.tsx
  src/components/amazon-seller-tools/fba-calculator.tsx
  src/components/amazon-seller-tools/keyword-analyzer.tsx
  src/components/amazon-seller-tools/keyword-deduplicator.tsx
  src/components/amazon-seller-tools/keyword-trend-analyzer.tsx
  src/components/amazon-seller-tools/listing-quality-checker.tsx
  src/components/amazon-seller-tools/ppc-campaign-auditor.tsx
  src/components/amazon-seller-tools/unified-dashboard.tsx
  src/components/ui/Spinner.tsx
  src/components/ui/breadcrumb.tsx
  src/components/ui/chat-interface.tsx
  src/components/ui/dashboard-breadcrumb.tsx
  src/lib/ai-config.ts
Due: npx prettier --write, npx next lint --fix

refactor(amazon-seller-tools): improve code readability and maintainability
  src/components/amazon-seller-tools/keyword-analyzer.tsx
  src/components/amazon-seller-tools/keyword-deduplicator.tsx
  src/components/amazon-seller-tools/listing-quality-checker.tsx
Due: npx prettier --write, npx next lint --fix

refactor(amazon-seller-tools): improve type safety and code readability
  src/components/amazon-seller-tools/keyword-analyzer.tsx
  src/components/amazon-seller-tools/keyword-deduplicator.tsx
  src/components/amazon-seller-tools/listing-quality-checker.tsx
  src/components/ui/breadcrumb.tsx
Due: npx prettier --write, npx next lint --fix

feat(amazon-seller-tools): add ManualFbaForm component for manual FBA calculations
  src/components/amazon-seller-tools/ManualFbaForm.tsx
  src/components/amazon-seller-tools/fba-calculator.tsx
Due: npx prettier --write, npx next lint --fix

refactor(acos-calculator): enhance line chart with detailed axes and tooltips
  src/components/amazon-seller-tools/acos-calculator.tsx
Due: npx prettier --write, npx next lint --fix

style: clean up code formatting and remove unnecessary whitespace
  src/components/amazon-seller-tools/ManualFbaForm.tsx
  src/components/amazon-seller-tools/acos-calculator.tsx
  src/components/amazon-seller-tools/fba-calculator.tsx
Due: npx prettier --write, npx next lint --fix

chore: remove outdated documentation and unused files
  TODO.md
  docs/CHANGELOG.md
  docs/CODE_OF_CONDUCT.md
  docs/CONTRIBUTING.md
  docs/FEEDBACK.md
  docs/NEW IDEA.md
  docs/NEW_STRUCTURE.md
  docs/README.md
  docs/TODO_COMPONENT.md
  docs/WORKAROUND.md
  docs/error-guide.md
  src/components/amazon-seller-tools/amazon-seller-tools.md
Due: npx prettier --write

feat(keyword-intelligence): implement keyword analysis logic
  .roo/rules-code/rules.md
  DOCUMENTATION.txt
  PRIORITY.txt
  src/app/content/blog/amazon-seller-tools.mdx
  src/components/amazon-seller-tools/acos-calculator.tsx
  src/lib/keyword-intelligence.ts
Due: npx prettier --write, npx next lint --fix

feat: add product score calculator and optimize pricing algorithms
  PRIORITY.txt
  docs/planning/IMPLEMENTATION_AcosCalcFix.md
  docs/planning/IMPLEMENTATION_OptimalPriceCalc.md
  docs/planning/IMPLEMENTATION_PpcAuditorStabilization.md
  docs/planning/IMPLEMENTATION_ProductScoreCalc.md
  src/components/amazon-seller-tools/acos-calculator.tsx
  src/components/amazon-seller-tools/optimal-price-calculator.tsx
  src/components/amazon-seller-tools/product-score-calculator.tsx
  src/lib/amazon-tools/amazon-algorithms.ts
  src/lib/amazon-tools/pricing-algorithms.ts
  src/lib/amazon-tools/scoring-utils.ts
  src/lib/amazon-types.ts
  src/lib/hooks/use-campaign-validator.ts
  src/lib/hooks/use-csv-parser.ts
Due: npx prettier --write, npx next lint --fix

docs(blog): update Amazon Seller Tools Suite documentation with current status and roadmap
  src/app/content/blog/amazon-seller-tools.mdx
Due: none

docs: update project tracker reference in blog post
  PRIORITY.txt
  PROJECT_TRACKER.md
  src/app/content/blog/amazon-seller-tools.mdx
Due: npx prettier --write

docs: add COLLABORATION_WORKFLOW.md to define development and review process
  COLLABORATION_WORKFLOW.md
Due: npx prettier --write

refactor: improve code readability and fix formatting issues
  .roo/rules-code/rules.md
  COLLABORATION_WORKFLOW.md
  PROJECT_TRACKER.md
  docs/planning/IMPLEMENTATION_AcosCalcFix.md
  docs/planning/IMPLEMENTATION_OptimalPriceCalc.md
  docs/planning/IMPLEMENTATION_PpcAuditorStabilization.md
  docs/planning/IMPLEMENTATION_ProductScoreCalc.md
  src/app/content/blog/amazon-seller-tools.mdx
  src/components/amazon-seller-tools/acos-calculator.tsx
  src/components/amazon-seller-tools/optimal-price-calculator.tsx
  src/components/amazon-seller-tools/product-score-calculator.tsx
  src/lib/amazon-tools/amazon-algorithms.ts
  src/lib/amazon-tools/pricing-algorithms.ts
  src/lib/amazon-tools/scoring-utils.ts
  src/lib/hooks/use-campaign-validator.ts
  src/lib/hooks/use-csv-parser.ts
Due: npx prettier --write, npx next lint --fix

docs(blog): fix table formatting in Amazon Seller Tools blog post
  src/app/content/blog/amazon-seller-tools.mdx
Due: none

docs(blog): fix markdown table formatting in amazon-seller-tools.mdx
  src/app/content/blog/amazon-seller-tools.mdx
Due: none

refactor(blog): update Amazon Seller Tools blog image and path
  public/images/blog/amazon-seller-tools.svg
  src/app/content/blog/amazon-seller-tools.mdx
  src/components/blog-section.tsx
Due: npx prettier --write, npx next lint --fix

docs(blog): improve readability of Amazon Seller Tools features list
  src/app/content/blog/amazon-seller-tools.mdx
Due: none
