Repository johnwesleyquintero/sellsmart-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx next lint --fix

docs: update project tracker with completed tasks
  PROJECT_TRACKER.md
Due: npx prettier --write

docs(blog): update amazon-seller-tools.mdx with latest changes
  PROJECT_TRACKER.md
  src/app/content/blog/amazon-seller-tools.mdx
Due: npx prettier --write

feat(keyword-analyzer): add form for keyword analysis by category
  src/components/amazon-seller-tools/acos-calculator.tsx
  src/components/amazon-seller-tools/keyword-analyzer.tsx
  src/components/amazon-seller-tools/keyword-deduplicator.tsx
Due: npx prettier --write, npx next lint --fix

fix(validation): improve input validation and error handling in ACOS and keyword deduplicator
  src/components/amazon-seller-tools/acos-calculator.tsx
  src/components/amazon-seller-tools/keyword-analyzer.tsx
  src/components/amazon-seller-tools/keyword-deduplicator.tsx
Due: npx prettier --write, npx next lint --fix

docs(blog): update blog content and add project tracker link
  public/images/blog/ai-bro-svg.svg
  public/images/blog/project-tracker.svg
  src/app/blog/[slug]/page.tsx
  src/app/content/blog/amazon-seller-tools.mdx
  src/app/content/blog/project-tracker.mdx
Due: npx prettier --write, npx next lint --fix

chore(scripts): add update-tracker script to automate task management
  .wescore/scripts/update-tracker.mjs
  package.json
  src/app/content/blog/amazon-seller-tools.mdx
  src/app/content/blog/project-tracker.mdx
  src/components/amazon-seller-tools/keyword-deduplicator.tsx
Due: npx prettier --write, npx next lint --fix

fix(keyword-deduplicator): clear validation errors and validate empty keywords
  src/components/amazon-seller-tools/keyword-deduplicator.tsx
Due: npx prettier --write, npx next lint --fix

chore: remove redundant "log-env" script from package.json
  package.json
Due: npx prettier --write

chore: update dependencies and environment configuration
  .env.template
  package-lock.json
  package.json
  src/app/content/blog/ai-bro-debugging.mdx
  src/app/content/blog/amazon-seller-tools.mdx
  src/app/content/blog/application-architecture-overview.mdx
  src/app/content/blog/b2b-strategies-amazon-sellers.mdx
  src/app/content/blog/data-visualization-for-amazon-sellers.mdx
  src/app/content/blog/excel-power-tools-amazon-sellers.mdx
  src/app/content/blog/getting-started-with-amazon-fba.mdx
  src/app/content/blog/mastering-amazon-ppc.mdx
  src/app/content/blog/next-js-metadata-api-guide.mdx
  src/app/content/blog/project-tracker.mdx
Due: npx prettier --write

fix(chat-interface): clone response to allow multiple reads of body stream
  package.json
  src/components/ui/chat-interface.tsx
Due: npx prettier --write, npx next lint --fix

feat(amazon-seller-tools): add data source manager and validation improvements
  package-lock.json
  package.json
  src/app/api/process-data/route.ts
  src/components/amazon-seller-tools/DataSourceManager.tsx
  src/components/amazon-seller-tools/ManualFbaForm.tsx
  src/types/amazon-report.ts
Due: npx prettier --write, npx next lint --fix

refactor(ManualFbaForm): rename validationErrors to newErrors for clarity
  src/components/amazon-seller-tools/ManualFbaForm.tsx
Due: npx prettier --write, npx next lint --fix

refactor(accessibility): improve error handling and aria roles for validation messages
  src/app/api/process-data/route.ts
  src/components/amazon-seller-tools/ManualFbaForm.tsx
  src/components/amazon-seller-tools/keyword-deduplicator.tsx
Due: npx prettier --write, npx next lint --fix

refactor: improve error handling and type safety in processFile function
  src/app/api/process-data/route.ts
Due: npx prettier --write, npx next lint --fix

style(fba-calculator): add role="alert" to info box for accessibility
  src/components/amazon-seller-tools/fba-calculator.tsx
Due: npx prettier --write, npx next lint --fix

test(fba-calculator): add data-testid to file upload input
  src/components/amazon-seller-tools/fba-calculator.tsx
  src/components/amazon-seller-tools/keyword-deduplicator.tsx
Due: npx prettier --write, npx next lint --fix

refactor(ManualFbaForm): remove redundant toast notifications for validation errors
  src/components/amazon-seller-tools/ManualFbaForm.tsx
Due: npx prettier --write, npx next lint --fix

fix(validation): improve form validation and error handling
  TEST_PLAN.md
  src/components/amazon-seller-tools/ManualFbaForm.tsx
  src/components/amazon-seller-tools/fba-calculator.tsx
  src/components/amazon-seller-tools/keyword-deduplicator.tsx
  src/lib/amazon-tools/fba-form-schema.ts
Due: npx prettier --write, npx next lint --fix

build: add babel and jest configs, update dependencies and tooling
  .babelrc
  jest.config.cjs
  package-lock.json
  package.json
  public/images/blog/quickfill-faqs.svg
  src/__tests__/components/error-boundary.test.tsx
  src/app/content/blog/detailed-quickfill-faqs.mdx
  src/components/amazon-seller-tools/keyword-deduplicator.tsx
  src/components/error-boundary.tsx
  src/types/amazon-report.ts
Due: npx prettier --write, npx next lint --fix

docs: update platform name to "Amazon Portfolio Platform"
  src/app/content/blog/detailed-quickfill-faqs.mdx
  src/data/chat-context.json
  src/data/portfolio-data/personal.json
Due: npx prettier --write

docs(blog): update project-tracker and detailed-quickfill-faqs content
  .dev_files/index.html
  src/app/content/blog/detailed-quickfill-faqs.mdx
  src/app/content/blog/project-tracker.mdx
Due: none

ci: update jest config and add failure report functionality
  .dev_files/index.html
  .wescore/scripts/check-quality.mjs
  jest.config.cjs
  package-lock.json
  package.json
  src/__tests__/components/error-boundary.test.tsx
  tsconfig.json
Due: npx prettier --write, npx next lint --fix

feat: add data processing and store functionality for Amazon data
  .wescore/scripts/check-quality.mjs
  package-lock.json
  src/app/api/process-data/route.ts
  src/lib/amazon-tools/dataProcessing.ts
  src/lib/core-utils.ts
  src/stores/amazon-store.ts
  tsconfig.json
Due: npx prettier --write, npx next lint --fix

chore: update jest config, gitignore, package.json, and cleanup script
  .gitignore
  cleanup.ps1
  jest.config.cjs
  package.json
  src/app/api/process-data/route.ts
Due: npx prettier --write, npx next lint --fix

feat(next.config.js): enable styledComponents in compiler config
  next.config.js
Due: npx prettier --write, npx next lint --fix

chore: add immer dependency and clean up babel config
  .wescore/.babelrc
  package-lock.json
  package.json
  src/components/amazon-seller-tools/sample-csv-button.tsx
Due: npx prettier --write, npx next lint --fix

refactor(keywordActions): add 'use server' directive to functions
  src/actions/keywordActions.ts
Due: npx prettier --write, npx next lint --fix

build(next): add experimental and compiler configurations
  next.config.js
Due: npx prettier --write, npx next lint --fix

chore: remove .babelrc, update dependencies, and clean up server actions
  .babelrc
  package-lock.json
  package.json
  src/actions/keywordActions.ts
Due: npx prettier --write, npx next lint --fix

ci(jest): update Jest configuration and package dependencies
  jest.config.cjs
  package-lock.json
  package.json
Due: npx prettier --write

chore: update package.json, remove jsconfig.json, and reorganize test plan
  .wescore/reports/package-report.json
  TEST_PLAN.md
  jsconfig.json
  package.json
Due: npx prettier --write

chore: update npmrc and package.json configurations
  .npmrc
  package-lock.json
  package.json
Due: npx prettier --write

chore(vscode): update settings, tasks, and launch configurations
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  .wescore/reports/package-report.json
Due: npx prettier --write

test: add setupTests.ts for TextEncoder and TextDecoder configuration
  src/setupTests.ts
Due: npx prettier --write, npx next lint --fix

refactor: replace `npm run cq` with `npm run wes-cq` across codebase
  .eslintrc.json
  .gitignore
  .roo/rules-code/rules.md
  .trae/rules/project_rules.md
  .wescore/scripts/check-quality.mjs
  .wescore/scripts/parse-jest-results.mjs
  .wescore/scripts/wescore-90s.mjs
  .wescore/scripts/wescore-nasa.mjs
  .wescore/src/utils/header.mjs
  jest-results.json
  package.json
  portfolio.code-workspace
  roo-code-settings.json
  run.bat
  src/app/content/blog/amazon-seller-tools.mdx
  src/app/content/blog/project-tracker.mdx
  src/app/hooks/use-toast.ts
  src/components/amazon-seller-tools/CsvUploader.tsx
  src/components/amazon-seller-tools/ManualFbaForm.tsx
  src/components/amazon-seller-tools/keyword-analyzer.tsx
  src/components/amazon-seller-tools/keyword-deduplicator.tsx
  src/components/ui/toaster.tsx
  src/setupTests.ts
  vercel.yml
  vercel_deploy.bat
  workflow.txt
Due: npx prettier --write, npx next lint --fix

chore: update dependencies, jest config, and code settings
  jest-results.json
  jest.config.cjs
  package-lock.json
  package.json
  roo-code-settings.json
  src/__tests__/components/error-boundary.test.tsx
  src/components/amazon-seller-tools/keyword-deduplicator.tsx
  src/lib/amazon-tools/dataProcessing.ts
  src/setupTests.ts
Due: npx prettier --write, npx next lint --fix

chore: update dependencies and test configurations
  jest-results.json
  package-lock.json
  package.json
  src/__tests__/components/error-boundary.test.tsx
  src/setupTests.ts
  tsconfig.json
  tsconfig.txt
Due: npx prettier --write, npx next lint --fix

refactor(keyword-deduplicator): simplify component structure and improve error handling
  portfolio.code-workspace
  src/components/amazon-seller-tools/keyword-deduplicator.tsx
  src/setupTests.ts
Due: npx prettier --write, npx next lint --fix

test(hooks): mock File and Blob APIs for useCsvParser tests
  jest-results.json
  jest.config.cjs
  src/lib/hooks/__tests__/use-csv-parser.test.ts
Due: npx prettier --write, npx next lint --fix

Path conditions:
  npx prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,scss,md})
  npx next lint --fix: any of: *.{js,jsx,ts,tsx}
