Repository johnwesleyquintero/sellsmart-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx next lint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx prettier --write", "npx next lint --fix"],
  "*.{json,css,scss,md}": ["npx prettier --write"]
}

refactor: add logging and rename props in CsvUploader component
  .gitignore
  jest-results.json
  src/components/amazon-seller-tools/CsvUploader.tsx
  src/lib/hooks/use-csv-parser.ts
Due: npx prettier --write, npx next lint --fix

refactor: update project tracker references and test commands
  .roo/rules-orchestrator/rules.md
  .trae/rules/project_rules.md
  TEST_PLAN.md
  jest-results.json
  package.json
  src/app/content/blog/amazon-seller-tools.mdx
  src/app/content/blog/project-tracker.mdx
  src/components/amazon-seller-tools/CsvUploader.tsx
  src/components/amazon-seller-tools/acos-calculator.tsx
Due: npx prettier --write, npx next lint --fix

fix: resolve ACoS calculation, blog card rendering, and CSV parser issues
  .gitignore
  .roo/rules-orchestrator/rules.md
  .wescore.json
  issues.txt
  jest-results.json
  src/components/amazon-seller-tools/acos-calculator.tsx
  src/components/blog-section.tsx
  src/components/blog/blog-card.tsx
  src/lib/hooks/__tests__/use-csv-parser.test.ts
  src/lib/hooks/use-csv-parser.ts
  workflow.txt
Due: npx prettier --write, npx next lint --fix

refactor(acos-calculator): simplify component structure and improve error handling
  issues.txt
  src/components/amazon-seller-tools/acos-calculator.tsx
  src/components/amazon-seller-tools/sample-csv-button.tsx
  src/lib/calculations/acos-utils.ts
  src/lib/hooks/__tests__/use-csv-parser.test.ts
  src/lib/hooks/use-campaign-validator.ts
  src/lib/hooks/use-csv-parser.ts
  src/setupTests.ts
Due: npx prettier --write, npx next lint --fix

refactor: improve code readability and remove unused state
  docs/planning/IMPLEMENTATION_AcosCalcFix.md
  docs/planning/IMPLEMENTATION_DataSource.md
  docs/planning/IMPLEMENTATION_OptimalPriceCalc.md
  docs/planning/IMPLEMENTATION_PpcAuditorStabilization.md
  docs/planning/IMPLEMENTATION_ProductScoreCalc.md
  issues.txt
  jest-results.json
  src/components/blog/blog-card.tsx
  src/lib/calculations/acos-utils.ts
Due: npx prettier --write, npx next lint --fix

refactor: move interfaces and clean up code in profit margin calculator
  .wescore.json
  src/components/amazon-seller-tools/profit-margin-calculator.tsx
  src/components/blog/blog-card.tsx
Due: npx prettier --write, npx next lint --fix

refactor(scripts): simplify log file naming and improve log writing
  scripts/project-cli.ps1
Due: none

feat(scripts): add new commands and refactor existing ones
  scripts/project-cli.ps1
Due: none

feat(project-cli): add JavaScript version of project-cli script
  .wescore/scripts/project-cli.mjs
  package.json
  scripts/project-cli.ps1
Due: npx prettier --write

refactor(project-cli): reorganize import statements for better readability
  .wescore/scripts/project-cli.mjs
Due: none

refactor: improve error handling, code structure, and test setup
  .roo/rules-orchestrator/rules.md
  jest-results.json
  package-lock.json
  package.json
  src/app/page.tsx
  src/components/ClientDashboardWrapper.tsx
  src/components/DashboardWrapper.tsx
  src/components/amazon-seller-tools/keyword-analyzer.tsx
  src/components/amazon-seller-tools/unified-dashboard.tsx
  src/components/blog/BlogImage.tsx
  src/lib/core-utils.ts
  src/lib/hooks/use-csv-parser.ts
  src/middleware.ts
  src/setupTests.ts
  workflow.txt
Due: npx prettier --write, npx next lint --fix

refactor(scripts): enhance logging functionality and remove unused test script
  .roo/rules-orchestrator/rules.md
  package-lock.json
  package.json
  scripts/project-cli.ps1
  src/setupTests.ts
  workflow.txt
Due: npx prettier --write, npx next lint --fix

feat(test): enhance Jest results parsing and reporting
  .roo/rules-orchestrator/rules.md
  .wescore.json
  .wescore/scripts/parse-jest-results.mjs
  jest-results.json
  package-lock.json
  package.json
  src/components/amazon-seller-tools/keyword-analyzer.tsx
Due: npx prettier --write, npx next lint --fix

Refactor project CLI and update package scripts
  .roo/rules-orchestrator/rules.md
  .wescore.json
  .wescore/reports/package-report.json
  .wescore/scripts/project-cli.mjs
  .wescore/scripts/wescore-package.txt
  cline_mcp_settings.json
  jest-results.json
  package-lock.json
  package.json
  scripts/project-cli.ps1
  src/components/amazon-seller-tools/keyword-analyzer.tsx
Due: npx prettier --write, npx next lint --fix

refactor(scripts): simplify project-cli.ps1 and improve error handling
  .vscode/launch.json
  package.json
  scripts/project-cli.ps1
Due: npx prettier --write

Refactor code structure for improved readability and maintainability
  .rules.md
  .wescore/scripts/project-cli.mjs
  jest-results.json
  package-lock.json
  package.json
  scripts/project-cli.ps1
  src/components/amazon-seller-tools/CampaignCard.tsx
  src/components/amazon-seller-tools/profit-margin-calculator.tsx
Due: npx prettier --write, npx next lint --fix

chore: update dependencies and improve error handling
  .roo/rules-code/rules.md
  .roo/rules-orchestrator/rules.md
  .trae/rules/project_rules.md
  .wescore/scripts/project-cli-package.txt
  .wescore/scripts/project-cli.mjs
  .wescore/scripts/wescore-package.txt
  eslint.config.mjs
  jest-results.json
  package-lock.json
  package.json
  src/app/api/amazon/competitor-analysis/route.ts
  src/components/ui/amazon-forms/FormContainer.tsx
  src/docs/architecture.md
  src/lib/amazon-tools/api-client.ts
  src/lib/amazon-tools/errors/errors.ts
  src/lib/amazon-tools/fba-form-schema.ts
  src/lib/amazon-tools/keyword-trend-service.ts
  src/lib/hooks/__tests__/use-csv-parser.test.ts
  src/setupTests.ts
  workaround.txt
Due: npx prettier --write, npx next lint --fix

chore: update package.json with new type definitions and improve project-cli.ps1 script
  .roo/rules-orchestrator/rules.md
  package-lock.json
  package.json
  scripts/project-cli.ps1
  tsconfig.json
  workaround.md
  workaround.txt
Due: npx prettier --write

refactor(project-cli): migrate from PowerShell to Bash for cross-platform compatibility
  .vscode/settings.json
  eslint.config.mjs
  package-lock.json
  package.json
  project-cli.sh
  scripts/project-cli.ps1
  scripts/system-info.ps1
  workaround.md
Due: npx prettier --write

feat(cli): add spinner utilities for better user feedback during long-running tasks
  .gitignore
  jest-results.json
  project-cli.sh
Due: npx prettier --write

docs(rules-orchestrator): update input file references in rules.md
  .gitignore
  .roo/rules-orchestrator/rules.md
Due: npx prettier --write

docs: update workaround and project rules documentation
  .roo/rules-orchestrator/rules.md
  .trae/rules/project_rules.md
  workaround.md
Due: npx prettier --write

docs: add npm scripts to workaround.md
  workaround.md
Due: npx prettier --write

chore: add text-encoding and util dependencies, enhance logging and error handling
  jest-results.json
  package-lock.json
  package.json
  src/components/amazon-seller-tools/keyword-deduplicator.tsx
  src/components/amazon-seller-tools/keyword-trend-analyzer.tsx
  src/components/blog/BlogImage.tsx
  src/components/ui/select.tsx
  src/lib/api-validation.ts
  src/lib/error-handling.ts
  src/lib/input-validation.ts
Due: npx prettier --write, npx next lint --fix

chore: add @types/text-encoding and update setupTests.ts
  package-lock.json
  package.json
  src/setupTests.ts
Due: npx prettier --write, npx next lint --fix

chore: remove outdated config and documentation files
  RECOMMENDATION_FRAMEWORK.md
  config.txt
  jest-results.json
  workaround.md
  workflow.txt
Due: npx prettier --write

refactor(acos-calculator): streamline UI and remove redundant code
  src/components/amazon-seller-tools/acos-calculator.tsx
Due: npx prettier --write, npx next lint --fix

fix(acos-calculator): correct manual campaign calculation logic
  .gitignore
  jest-results.json
  src/components/amazon-seller-tools/acos-calculator.tsx
  workaround.md
Due: npx prettier --write, npx next lint --fix

refactor(config): remove unused LINKEDIN_API_KEY from env schema
  jest-results.json
  src/lib/config.ts
  workaround.md
Due: npx prettier --write, npx next lint --fix

docs: update workaround.md and rules.md with new instructions
  .roo/rules-orchestrator/rules.md
  src/setupTests.ts
  workaround.md
Due: npx prettier --write, npx next lint --fix

chore: rename `wes-cq` to `cq` and update related scripts and docs
  .roo/rules-code/rules.md
  .wescore/scripts/check-quality.mjs
  .wescore/scripts/wescore-90s.mjs
  .wescore/scripts/wescore-nasa.mjs
  .wescore/src/utils/header.mjs
  package-lock.json
  package.json
  roo-code-settings.json
  src/app/content/blog/project-tracker.mdx
  vercel.yml
  workaround.md
Due: npx prettier --write

refactor: update npm scripts and improve error handling
  src/components/amazon-seller-tools/acos-calculator.tsx
  src/components/amazon-seller-tools/keyword-trend-analyzer.tsx
  src/components/ui/select.tsx
  src/lib/amazon-tools/keyword-trend-service.ts
  workaround.md
Due: npx prettier --write, npx next lint --fix

refactor: improve error handling and test configurations
  jest-results.json
  package.json
  src/actions/keywordActions.ts
  src/components/amazon-seller-tools/keyword-trend-analyzer.tsx
  src/lib/error-handling.ts
  src/setupTests.ts
  workaround.md
Due: npx prettier --write, npx next lint --fix

refactor(amazon-seller-tools): improve UI and error handling in components
  src/components/amazon-seller-tools/acos-calculator.tsx
  src/components/amazon-seller-tools/fba-calculator.tsx
  src/components/amazon-seller-tools/keyword-deduplicator.tsx
  src/components/amazon-seller-tools/keyword-trend-analyzer.tsx
  src/lib/amazon-tools/keyword-trend-service.ts
  src/lib/error-handling.ts
  src/lib/utils/error-handler.ts
  workaround.md
Due: npx prettier --write, npx next lint --fix

docs: add architecture diagrams and update API documentation
  README.md
  docs/api-documentation.md
  docs/architecture/AboutSection.md
  docs/architecture/BlogSection.md
  docs/architecture/CertificationsSection.md
  docs/architecture/ClientProviders.md
  docs/architecture/ContactSection.md
  docs/architecture/Header.md
  docs/architecture/HeroSection.md
  docs/architecture/ProjectsSection.md
  docs/architecture/README.md
  docs/architecture/RoadmapDisplay.md
  issues.txt
  package-lock.json
  package.json
  src/app/content/blog/amazon-seller-tools.mdx
  src/app/content/blog/project-tracker.mdx
  src/data/prohibited-keywords/readme.md
  src/stories/Configure.mdx
Due: npx prettier --write

refactor: update ESLint config, README, and error handling
  .eslintrc.json
  README.md
  package-lock.json
  package.json
  project-cli.sh
  src/components/amazon-seller-tools/keyword-trend-analyzer.tsx
  src/components/amazon-seller-tools/optimal-price-calculator.tsx
  src/components/error-boundary.tsx
Due: npx prettier --write, npx next lint --fix

feat(api): implement API integration framework with error handling, logging, and monitoring
  package-lock.json
  package.json
  src/app/content/blog/project-tracker.mdx
  src/lib/amazon-tools/api-client.ts
  src/lib/api/error-handler.ts
  src/lib/api/keyword-analysis.ts
  src/lib/api/logger.ts
  src/lib/api/monitoring.ts
  src/lib/api/retry.ts
  src/lib/input-validation.ts
  src/lib/keyword-intelligence.ts
  src/pages/api/connect.ts
  src/setupTests.ts
Due: npx prettier --write, npx next lint --fix
